{% extends "base.html" %}

{% block content %}

<div class="response_container">

  <h2>{{ response.username }}'s SKORE Sheet</h2>
  <h2>{{ board.name }} - {{ board.desc }}</h3>
  
  <input type="hidden" name="response_item_ids" value="{{response.items}}" id="response_item_ids">

  <div class="row">
    <div class="span6">
      <table border="0" cellspacing="5" cellpadding="5">
        <tr><th>#</th><th>What?</th><th></th></tr>
        {% for item in items %}
          <tr>
            <td>{{ loop.index }}</td>
            <td><input type="text" value="{{ item.name }}" readonly></td>
            <td><input type="checkbox" name="item" value="{{item.id}}" id="{{ item.id }}" class="scorable" disabled=disabled></td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div class="span6">
        <div id="score">
            <p> <span class="ticked"></span> / <span class="total"></span></p>
        </div>
    </div>

  </div>

</div>
{% endblock content %}
